@model List<OrderHeader>
@{
    ViewData["Title"] = "Index";
}
<partial name="_NotificationPartialView" />
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <div class="d-flex justify-content-between pb-5 pt-2">
                <span></span>
                <ul class="list-group list-group-horizontal-sm">
                    <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                    <li class="list-group-item">In Process</li>
                    </a>
                    <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                    <li class="list-group-item">Payment Pending</li>
                    </a>
                    <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                    <li class="list-group-item">Completed</li>
                    </a>
                    <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                    <li class="list-group-item">Approved</li>
                    </a>
                    <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                    <li class="list-group-item">All</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Status
                </th>
                <th>
                    Total
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @order.Id
                    </td>
                    <td>
                        @order.Name
                    </td>
                    <td>
                        @order.PhoneNumber
                    </td>
                    <td>
                        @order.ApplicationUser.Email
                    </td>
                    <td>
                        @order.State
                    </td>
                    <td>
                        @order.OrderTotal
                    </td>


                    <td>
                        <a asp-controller="Order" asp-action="Upsert" asp-route-id="@order.Id" class="btn btn-info mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
